.admin-home {
    display: grid;
    grid-template-columns: 65% 1fr;
    column-gap: 20px;
    padding: 20px;

}

.admin-home-col {
    height: fit-content;
}

.admin-home-section {
    background-color: #D9D9FF;
    margin-bottom: 10px;
}

@media(max-width: 800px) {

    .admin-home {
        display: flex;
        flex-direction: column;
    }

    .admin-home-section {
        background-color: #D9D9FF;
        margin-bottom: 10px;
        flex-direction: column;
    }
}