.login-container {
    width: 100%;
    padding-top: 20px;
    min-height: 500px;
}

.login-container input::placeholder {
    color: white;
}

.login-container input[type=password]:not(:placeholder-shown) {
    color: white;
}

.login-form-container {
    width: 500px;
}

.login-header {
    width: 100%;
}

.login-header h1 {
    font-weight: bolder;
}

.login-form-container p {
    margin-top: 10px;
    text-decoration: none;
}

@media (max-width:800px) {
    .login-form-container {
        width: 100%;
    }

    .login-up-header h2 {
        font-size: 25px;
    }

    .login-up-header h5 {
        font-size: 15px;
    }
}