#account-reports-card-container{
    grid-column: 2;

    height: 100%;

    background-color: rgb(250, 250, 250);
    border-left: 1px solid #AAAAAA;
}

#account-reports-card-title{
    width: 50%;

    margin-left: auto;
    margin-right: auto;

    padding-bottom: 15px;

    text-align: center;

    color: #333333;

    border-bottom: 2px solid #999999;
}

#account-reports-card-header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    width: 80%;
    height: fit-content;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    text-align: center;

    font-family: sans-serif;

    border-bottom: 2px solid #3333FF;
}

.account-reports-card-header-values{
    color: #222222;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
}

@media (max-width: 960px){
    #account-reports-card-container{
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;
        text-align: center;
        background-color: rgb(250, 250, 250);

        border-left: none;
    }

    #account-reports-card-header{
        margin-top: 30px;
    }
}
