.password-reset-page {
    width: 100%;
    min-height: 90vh;
    background-color: #F2F2F2;
}

.password-reset-container {
    width: 50%;
    padding: 20px;
    background-color: white;
}

.password-reset-container h3 {
    margin-bottom: 20px;
    color: #4444FF;
}

.password-reset-confirm p {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: large;
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
}

.password-reset-resend-btn {
    margin-left: 30px;
}

.password-reset-buttons {
    width: 100%;
    justify-content: end;
}

.password-reset-next-btn {
    margin-left: 30px;
}

@media (max-width: 800px) {
    .password-reset-container {
        width: 95%;
    }
}