/* 
    #F1F1F1,
    #202020, 
    #7E909A, 
    #1C4E80, 
    #A5D8DD, 
    #EA6A47, 
    #0091D5 
*/

.student-progress-report-category-container {
    padding: 10px;
    padding-bottom: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.student-progress-report-category-header {
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px;
    background-color: #F1F1F1;
    border-bottom: 2px solid #0091D5;
    padding: 10px;
    border-end-start-radius: 0 !important;
    border-end-end-radius: 0 !important;
}