.file-viewer-pdf-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-viewer-pdf {
    width: 70%;
    height: 100%;

    border: 1px solid black;
}

.file-viewer-img {
    max-width: 100%;
}

@media(max-width: 1000px) {
    .file-viewer-pdf {
        width: 100%;
    }
}