/* 
    #F1F1F1,
    #202020, 
    #7E909A, 
    #1C4E80, 
    #A5D8DD, 
    #EA6A47, 
    #0091D5 
*/

.report-sheet-student-container {
    border-bottom: 1px solid #ddd;
    display: grid;
    grid-template-columns: 30% 1fr;
}

.report-sheet-course-remark {
    width: 80%;
    padding: 5px;
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
}

.report-sheet-student {
    background-color: #fefefe;
    padding: 10px;
    color: #444;
}

.student-report-edit-table {
    margin-top: 10px;
}

.student-report-persona-tab {
    max-height: 300px;
    overflow: auto;
}

@media(max-width: 1000px) {
    .report-sheet-student-container {
        display: flex;
        flex-direction: column;
    }
}