.student-report-edit-table th {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.student-single-report-persona-tab {
    max-height: 400px;
    overflow: auto;
    padding: 5px;
}