.banking-details-popup {
    width: fit-content;
    align-items: center;
    justify-content: end;
    background-color: #eeeeee;
    margin-left: auto;
}

.banking-details-popup p {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    text-decoration: underline;
}