@media (min-width: 601px){
    #navbar-container{
        grid-column: 1;
        grid-row: 2;

        display: flex;
        flex-direction: column;

        width: 100%;

        padding-top: 50px;

        border-top: 1px solid #232F34;
    }

    .navbar-opts{
        margin-left: 30%;
        margin-bottom: 30px;

        text-align: left;

        color: white;

        font-family: Arial, Helvetica, sans-serif;

        overflow: hidden;
    }
}

.navbar-opts:hover{
    cursor: pointer;
    color: #999999;
}

#navbar-toggle{
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    width: 10vh;
    height: 8vh;
    align-self: center;
}

.navbar-toggle-bar{
    width: 100%;
    height: 5px;
    margin-bottom: 5px;
    background-color: white;
    border-radius: 10px;
}

#navbar-toggle:hover{
    cursor: pointer;
}

#navbar-toggle:hover .navbar-toggle-bar{
    background-color: #CCCCFF;
}

@media (max-width: 960px){
    #navbar-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        padding-bottom: 10px;
        border-bottom: 1px solid #232F34;
        z-index: 1000;
        background-color: #121E23;
    }

    .navbar-opts{
        display: none;
    }

    .navbar-opts-toggled{
        margin-left: auto;
        margin-right: auto;
        font-family: sans-serif;
    }

    #navbar-toggle{
        display: flex;
    }
}



