.student-registration-nav-bar {
    grid-column: 1;
    background-color: #dddddd;
}

.student-registration-nav-bar-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 3px;
    margin-bottom: 10px;
}

.student-registration-nav-bar-item h4 {
    text-align: left;
}

.student-registration-nav-bar p {
    width: 75%;
}


@media (max-width: 800px) {
    .student-registration-nav-bar {}

    .student-registration-nav-bar p {
        width: 95%;
    }
}