/* 
    #F1F1F1,
    #202020, 
    #7E909A, 
    #1C4E80, 
    #A5D8DD, 
    #EA6A47, 
    #0091D5 
*/

.student-progress-report-header {
    background-color: #1C4E80;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}