.App {
  position: relative;
  text-align: center;
  min-height: 100vh;
  height: fit-content;
  font-family: sans-serif, 'Courier New', Courier, monospace;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.padding-0 {
  padding: 0;
}

.padding-5 {
  padding: 5px;
}

.margin-0 {
  margin: 0;
}

.hor-center {
  margin-left: auto;
  margin-right: auto;
}

.vert-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.space-evenly {
  justify-content: space-evenly;
}

.full-size {
  width: 100%;
  height: 100%;
}

.hover:hover {
  cursor: pointer;
  opacity: 0.3;
}

.prg-bar {
  padding: 10px;
}

.overflow-w-100 {
  max-width: 100%;
  overflow: auto;
}

/* GRID CSS */


.grid-3-col-even {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-row-1 {
  grid-row: 1;
}

.grid-row-2 {
  grid-row: 2;
}

.grid-row-3 {
  grid-row: 3;
}

/* ICON SIZES */
.lock-med {
  width: 100px;
  height: 100px;
}

.file-add-small {
  width: 30px;
  height: 30px;
}

.icon-sm {
  width: 25px;
  height: 25px;
}

.icon-m {
  width: 50px;
  height: 50px;
}

/* COLORS */
.primary-color {
  background-color: #82B7DC;
  color: white;
}

.btn-reject {
  color: #ee4035;
}

.btn-approve {
  color: #7bc043;
}

.file-link {
  color: #6666FF;
}

.no-pad-marg {
  margin: 0;
  padding: 0;
}

/* BORDERS */
.basic-border {
  border: 1px solid #888;
}

@media(max-width: 800px) {
  .calendar-container-header {
    width: 100%;
    padding: 15px;
    flex-direction: column;
  }

  .calendar-container {
    width: 90%;
  }
}

/* MAIN CONTENT PANEL */
.main-content {
  grid-column: 2;
  grid-row: 2;
}

/* BASE COMPONENTS CSS */
.parent-base {
  min-height: 100vh;
}

/* THEME COLOURS */
.primary {
  color: #4444ff;
}


/* sweet alert z-index */
.swal2-container {
  z-index: 2000000 !important;
}