.account-created-container {
    width: 100%;
}

.account-created-message {
    width: 100%;
}

.account-created-message h5 {
    color: #8888FF;
    padding: 5px;
}

.account-created-message-header {
    width: 100%;
    background-color: #8888FF;
    color: white;
}

@media (max-width:800px) {
    .account-created-message {
        width: 100%;
    }
}