.financial-statement-table {
    max-height: 700px;
    max-width: 100%;
    overflow: auto;
    padding: 5px;
}

.statement-export-button {
    margin-top: 20px;
    margin-right: 10px;
    justify-content: end;
}

.financial-statement-table p {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    padding-left: 7px;
}

.statement-table-header p {
    font-weight: 500;
}

.statement-table-header span {
    width: 1px;
    background-color: #ccc;
}


@media(max-width: 1000px) {
    .financial-statement-table {}

    .financial-statement-table p {}
}