.admin-home-item {
    display: flex;
    background-color: white;
    margin-bottom: 10px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.admin-home-item-title {
    text-align: center;
    font-size: 25px;
    width: 100%;
}

.admin-home-item-img {
    margin-bottom: 10px;
}