.statement-table-header,
.statement-table-item {
    display: grid;
    grid-template-columns: 15% 2px 17% 2px 1fr 2px 11% 2px 11% 2px 11%;
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    min-width: 600px;
}

.statement-table-item span {
    width: 1px;
    background-color: #ccc;
}

.statement-table-item p {
    overflow: hidden;
    word-wrap: break-word;
}