#change-password-container{
    grid-column: 1/4;
    width: 80%;
    color: white;
}
#change-password-container div{
    width: fit-content;
    font-family: sans-serif;
}
#change-password-container input{
    width: 90%;
}
#change-password-container p{
    text-align: center;
}
#change-password-container button{
    margin: 5px;
    margin-bottom: 10px;
}

